body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #effafa;
  font-family: "Spartan", sans-serif;
  color: #2c3a3a;
}

.header {
  height: 155px;
  background-image: url("../images/bg-header-mobile.svg");
  background-color: #5ba4a4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

@media (min-width: 40em) {
  .header {
    background-image: url("../images/bg-header-desktop.svg");
  }
}

.none {
  opacity: 0;
}

.search {
  position: relative;
  min-height: 72px;
  top: -35px;
  padding: 0 24px;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

@media (min-width: 64em) {
  .search {
    padding: 0 164px;
  }
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 5px 30px rgba(91, 164, 164, 0.3);
          box-shadow: 0px 5px 30px rgba(91, 164, 164, 0.3);
  border-radius: 5px;
  padding: 23px 18px 5px;
  font-size: 14px;
  color: #5ba4a4;
  font-weight: 700;
}

@media (min-width: 64em) {
  .search__container {
    padding: 20px 40px 5px;
  }
}

.search__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__item {
  background-color: #eef6f6;
  padding-left: 8px;
  border-radius: 5px;
  margin-right: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.search__item-text {
  margin-right: 9px;
}

.search__close {
  background-color: #5ba4a4;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 11px 8px;
  cursor: pointer;
}

.search__close:hover {
  background-color: #2c3a3a;
}

.search__close img {
  position: relative;
  top: 1px;
}

.search__clear {
  color: #7b8e8e;
  cursor: pointer;
  margin-bottom: 15px;
}

.search__clear:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  color: #5ba4a4;
}

.list {
  padding: 4px 24px 57px;
}

@media (min-width: 64em) {
  .list {
    padding: 4px 164px 76px;
  }
}

.list__item {
  position: relative;
  padding: 34px 24px 8px 20px;
  margin-bottom: 38px;
  border-radius: 5px;
  border-left: 5px solid transparent;
  background-color: white;
  -webkit-box-shadow: 0px 5px 30px rgba(91, 164, 164, 0.3);
          box-shadow: 0px 5px 30px rgba(91, 164, 164, 0.3);
}

@media (min-width: 64em) {
  .list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 33px 40px 33px 35px;
    margin-bottom: 24px;
  }
}

.list__item-border {
  border-left: 5px solid #5ba4a4;
}

.list__image {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 64em) {
  .list__image {
    background-size: 95%;
    width: 88px;
    height: 88px;
    position: relative;
    top: 0;
    margin-right: 25px;
  }
}

.list__header {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #5ba4a4;
}

.list__header .company {
  margin-right: 15px;
}

.list__header .label {
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 8px 8px 4px;
  font-size: 12px;
  margin-right: 6px;
}

.list__header .new {
  background-color: #5ba4a4;
}

.list__header .featured {
  background-color: #2c3a3a;
}

.list__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  cursor: pointer;
}

.list__title:hover {
  color: #5ba4a4;
}

.list__footer {
  font-size: 14px;
  color: #7b8e8e;
  margin-bottom: 20px;
}

@media (min-width: 64em) {
  .list__footer {
    margin-bottom: 0;
  }
}

.list__dot {
  font-size: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

@media (min-width: 64em) {
  .list__dot {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.list hr {
  border-top: 1px solid #7b8e8e;
  margin-bottom: 15px;
}

@media (min-width: 64em) {
  .list hr {
    display: none;
  }
}

.list__text {
  width: 100%;
}

@media (min-width: 64em) {
  .list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.list__tags {
  -ms-grid-column-align: end;
      justify-self: end;
}

.list__tag {
  font-size: 14px;
  text-decoration: none;
  color: #5ba4a4;
  font-weight: 700;
  background-color: #effafa;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  margin-right: 12px;
  margin-bottom: 15px;
}

@media (min-width: 64em) {
  .list__tag {
    margin-bottom: 15px;
  }
}

.list__tag:hover {
  background-color: #5ba4a4;
  color: white;
}
/*# sourceMappingURL=style.css.map */